includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: max
  paths:
    - src
  tmpDir: build/phpstan
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    - identifier: trait.unused
    - identifier: generics.notSubtype
      path: src/Contracts/Routable.php
    - identifier: missingType.generics
      path: src/Route.php
      message: '#return type with generic class#'
